.DetailPanel {
  height: 90vh;
  border: 0.2em solid black;
  margin: 1em;
  padding: 1em;
}

#TitleHeaderDiv {
  display: grid;
  grid-template-columns: 15fr 1fr;
}

#TitleDiv {
  margin: 0;
  padding: 0 0 0 4em;
  h2 {
    padding: 0;
    margin: 0;
  }
}

#detailRefreshButton {
  font-size: 1.5rem;
  height: 2em;
  background-color: transparent;
  border: none;
  color: #797878;
  outline: none;

  &:hover {
    color: #a7a8a8;
  }
}

#weatherDetailDiv {
}

#noWeatherMessage {
    margin: 1.25em 0 1.25em 4em;
}