.CurrentWeatherDetail {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

#CurrentWeatherImage {
  height: 18em;
  width: 18em;
}

#CurrentWeatherInfoDiv {
  padding: 2em 0;
  p {
    margin: 1.25em 0 1.25em 0;
  }
}